<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;700&family=Noto+Sans+TC:wght@300;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="bg-[#2D2D2D] relative">
    <div class="container flex justify-between items-center py-6">
      <a href="./index.html">
        <img src="./assets/images/logo.svg" alt="Logo" class="w-44 h-[42px] hidden lg:block">
        <img src="./assets/images/logo2.svg" alt="Logo" class="w-6 h-6 lg:hidden">
      </a>
      <nav class="text-white text-lg hidden lg:block">
        <a href="./index.html" class="mr-12">首頁</a>
        <a href="./course.html" class="mr-[50px]">課程介紹</a>
        <a href="#">
          <span class="material-icons align-text-bottom">
            account_circle
          </span>
          登入
        </a>
      </nav>
      <div class="lg:hidden sm-menu cursor-pointer">
        <span class="material-icons align-text-bottom text-[#62DB54]">
          menu
        </span>
      </div>
    </div>
    <div class="w-full h-[2px] flex">
      <div class="w-1/2 bg-[#62DB54]"></div>
      <div class="w-1/2 bg-[#09ACF5]"></div>
    </div>
    <nav class="w-full absolute hidden text-center bg-[#2D2D2D] text-white z-10 sm-nav">
      <a href="./index.html" class="block py-4 text-lg">首頁</a>
      <a href="./index.html" class="block py-4 text-lg">課程介紹</a>
      <a href="#" class="block py-4 text-lg">
        <span class="material-icons align-text-bottom">
          account_circle
        </span>
        登入</a>
    </nav>
  </header>


  <%- contents %>

  <footer class="bg-[#1A1A1A] py-4 text-center font-azeret lg:py-6">
    <p class="text-[#909090] text-xs lg:text-base">Coding Home © 2022 All Rights Reserved</p>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>